<p>Hello this is a Angular Starter Pack</p>

<!-- Bindings -->
<app-header></app-header>

<hr />

<!-- Directives -->
<app-directives></app-directives>

<hr />

<!-- understanding ng-template , ng-container ,ng-content -->
<h1>Understanding ng-template , ng-container ,ng-content</h1>

<!-- ng-template -->
<div *ngTemplateOutlet="templateCode"></div>

<ng-template #templateCode>
  <p>This is a ng-template code</p>
</ng-template>

<!-- ng-container -->
<ng-container *ngTemplateOutlet="tmpl"> </ng-container>

<ng-template #tmpl let-text>
  <p>This is a ng-container code</p>
</ng-template>

<ng-container *ngFor="let item of items">
  <li *ngIf="item.isValid">
    {{ item.name }}
  </li>
</ng-container>

<!-- ng-content -->
<app-ng-content>
  <div id="header">ng-content Header</div>
  <div id="footer">ng-content Footer</div>
</app-ng-content>

<hr />

<!-- Data passing between parent and child -->
<app-data-passing
  [data]="compData"
  [personObj]="person"
  (newItemEvent)="addItem($event)"
></app-data-passing>
<span>
  <b> {{ childData }}</b>
</span>

<hr />

<!-- LifeCycle functions -->
<app-lifecycle-hooks></app-lifecycle-hooks>
