<h1>LifeCycle functions</h1>

<!-- contructor -->
<!-- <app-constructor [data]="dataValue"></app-constructor> -->

<!-- ngOnChange -->
<p>on-change works!</p>
Enter data and hit button to see onChange :<input
  type="text"
  id="item-input"
  #newItem
/>
<button type="button" (click)="addNewItem(newItem.value)">Add to parent</button>
<!-- <app-on-change [data]="onChangeVariable"></app-on-change> -->

<!-- ngOnInIt -->
<!-- <app-on-init [data]="onChangeVariable"></app-on-init> -->

<!-- ngDoChange -->
<!-- <app-ng-do-check></app-ng-do-check> -->

<!-- ngAfterContentInit -->

<!-- <h4>ngAfterContentInit & ngAfterContentChecked</h4> -->
<!-- <app-ng-aftercontentinit></app-ng-aftercontentinit> -->

<!-- ngAfterViewInit -->
<h4>ngAfterViewInit & ngAfterViewChecked</h4>
<p>
  Select a car to see how value is passed from child to Parent using ViewChild
</p>
<app-ng-afterviewinit></app-ng-afterviewinit>
