<div class="checkout-container">
  <h1>Checkout Compoenent : Demonstrate the canActivateChild & canActivate route guard</h1>

  <!-- Product Details -->
  <div class="product-details">
    <h2>Product Details</h2>
    <p><strong>Product Name:</strong> {{ product.name }}</p>
    <p><strong>Price:</strong> ${{ product.price }}</p>
    <p><strong>Quantity:</strong> {{ product.quantity }}</p>
  </div>



    <!-- Order Summary -->
    <div class="order-summary">
      <h2>Order Summary</h2>
      <p><strong>Total Price:</strong> ${{ product.price * product.quantity }}</p>
    </div>

    <button type="submit">Place Order</button>

</div>
