<div class="flex flex-col items-center justify-center h-screen">
  <div class="flex flex-col items-center space-y-8">
    <h1 class="text-5xl font-bold">Choose an Option</h1>
    <div class="flex space-x-4">
      
      <!-- Dashboard 1 -->
      <a
        [routerLink]="['/dash-one', info.name, info.age]"
        class="px-6 py-3 text-lg bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
        Dashboard 1
        <p>Passing data through param variables</p>
        <div>
          <code>/dash-one/{{ info.name }}/{{ info.age }}</code>
        </div>
      </a>

      <!-- Dashboard 2 -->
      <a
        [routerLink]="['/dash-two']"
        [queryParams]="{ name: info.name, age: info.age }"
        class="px-6 py-3 text-lg font-medium bg-green-500 text-white rounded-lg hover:bg-green-600 focus:outline-none focus:bg-green-600">
        Dashboard 2
        <p>Passing data through query parameters</p>
        <div>
          <code>/dash-two?name={{ info.name }}&age={{ info.age }}</code>
        </div>
      </a>

      <!-- Dashboard 3 -->
      <a
        [routerLink]="['/dash-three']"
        [state]="{ myInfo: info }"
        class="px-6 py-3 text-lg font-medium bg-purple-500 text-white rounded-lg hover:bg-purple-600 focus:outline-none focus:bg-purple-600">
        Dashboard 3
        <p>Passing data through state</p>
        <div>
          <code>href="/dash-three" [state]="{ myInfo: info }"</code>
        </div>
      </a>

      <!-- Dashboard 4 -->
      <button
        (click)="handleDashFour()"
        class="px-6 py-3 text-lg font-medium bg-orange-500 text-white rounded-lg hover:bg-orange-600 focus:outline-none focus:bg-orange-600">
        Dashboard 4
        <p>Passing data through useNavigate</p>
        <div>
          <code>navigate("/dash-four/{{ info.name }}/age={{ info.age }}", { state: { msg: "state data passed" } })</code>
        </div>
      </button>
    </div>
  </div>
</div>