<div class="page-header">
  <!--HOME HEADER-->
  <div class="page-header-logo">
    <h2>procademy</h2>
  </div>
  <div>
    <div class="page-header-secondary"></div>
    <div class="page-header-primary">
      <div class="page-header-primary-nav">
        <a routerLink="">HOME</a>
        <a
          routerLink="/dash-one/john/30"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >ABOUT</a
        >
        <a
          routerLink="/dash-one/khan/30"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >CONTACT</a
        >
        <a
          routerLink="/dash-one/hulk/30"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >COURSES</a
        >
        <div class="page-header-login-logout">
          <a routerLink="/login">LOGIN</a>
          <a (click)="logoutUser()">LOGOUT</a>
        </div>
      </div>
    </div>
  </div>
</div>
